# build products
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.xmpi
*.ent
*-luamml-mathml.html
*-verapdf.html
main.pdf
example.pdf
a11y-fmt-check.*
.DS_Store
upstream.md
